.PedidosRealizados {
    width: 64%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.infoCliente{
    text-align: left;
}

.listacompra{
    text-align: left;
}


.ContenedorPedidoCompleto{
    text-align: left;
}

.totalPedidoCompleto{
    text-align: right;
    width: 90%;
}

.Botones {
    width: 80%;
    text-align: right;
    margin-bottom: 50px;
}